.Orders {
  .card-body {
    overflow: unset;
  }
  .date-filter {
    display: flex;
    justify-content: flex-end;
  }
  .form-control {
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    min-width: 4rem;
  }
  .filter-label {
    margin-right: 10px;
  }
  .date-filter-input {
    max-width: 150px;
  }
  .number-filter-input {
    max-width: 150px;
  }
  .number-filter {
    display: flex;
    justify-content: flex-end;
  }
}
